input {
    border: 5px ridge black;
    background-color: #303030;
    width: 95%;
    height: 6vh;
    font-size: 2rem;
    color: #FFF;
}
.submit {
    background-color: #FFF;
    color: #FFF;
    border: none;
    font-size: 2rem;
    width: 25vw;
    height: 15vh;
    background-color: #303030;
}
textarea {
    border: 5px ridge black;
    color: #FFF;
    background-color: #303030;
    width: 50vw;
    height: 20vh;
    font-size: 2rem;
}